.formControl.error input,
.formControl.error textarea {
    border: solid red 2px;
}

.formControl.error span {
    color: red;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
}